@import "../../global-styles/variables.scss";

.logoBar-container {
  height: 188px;
  width: 100vw;
  background-color: $color-darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedexLogo {
  margin: auto;
}
