<ng-container *ngIf="download">
  <div class="pokemonList">
    <app-pokemon
      *ngFor="
        let pokemon of pokemonList
          | paginate
            : {
                id: 'pokemonPagination',
                itemsPerPage: 20,
                currentPage: page,
                totalItems: totalRecords
              }
      "
      [pokemon]="pokemon"
    ></app-pokemon>
  </div>
  <div>
    <pagination-controls
      id="pokemonPagination"
      maxSize="5"
      firectionLinks="true"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</ng-container>
