@import "../../global-styles/variables.scss";

// Modal Container

.pokemon-detail-container {
  width: 580px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.pokemon-detail-container * {
  text-transform: capitalize;
}

// Top Container
.top-container {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pokemon-circle-detail {
  margin: 0px;
  border-radius: $circle-radius;
  border: 6px solid;
  height: 164px;
  width: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.pokemon-name-type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.type-container {
  display: flex;
  justify-content: center;
}

.pokemon-type {
  padding: 0 12px 0 12px;
  height: 61px;
  color: $color-white;
  font-size: $font-size-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 12px 0px 12px;
}

img {
  width: 120px;
  transform: rotate(-45deg);
}

.pokemon-name {
  margin: 30px 0px 0px 0px;
  color: $color-darkblue;
  font-size: $font-size-big;

  text-transform: uppercase;
}

// Middle Container => Pokemon Stats
.stats-container {
  margin: 20px 70px 25px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.stat {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  width: 200px;
}

.stat * {
  font-size: $font-size-small;
}

.stat-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $circle-radius;
  background-color: $color-darkblue;
  height: 78px;
  width: 78px;
  color: $color-yellow;
}

.stat-name {
  margin: 15px 0 15px 15px;
  color: $color-darkblue;
}

// Bottom Container => Pokemon Details
.bottom-container {
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 29px;
}

.height-weight-container {
  display: flex;
  justify-content: space-between;
}

.bottom-container * {
  font-size: $font-size-small;
  color: $color-darkblue;
}

.bottom-stat {
  margin: 0 12px 0 12px;
}

.ability-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ability {
  margin: 0 0 0 15px;
}

.close-button {
  background-color: $color-darkblue;
  color: $color-yellow;
}

// Mobile device setup
@media (max-width: $screen-size-mobile) {
  .pokemon-detail-container {
    width: 272px;
    margin: 0;
    padding: 0;
  }

  // Top Container
  .top-container {
    padding: 0px;
    height: 130px;
  }

  .pokemon-circle-detail {
    margin: 0px;
    border: 8px solid;
    height: 100px;
    width: 100px;
  }
  img {
    width: 90px;
  }

  .pokemon-name-type-container {
    margin-left: 0;
  }

  .pokemon-type {
    padding: 0 7px 0 7px;
    height: 30px;
    font-size: $font-size-mobile-small;
    margin: 0px;
  }

  .pokemon-name {
    margin: 10px 0px 0px 0px;
    font-size: $font-size-mobile-medium;
  }

  // Middle Container => Pokemon Stats
  .stats-container {
    margin: 0;
    padding: 0 0 0 10px;
  }

  .stat {
    margin: 10px 0 0 0;
    width: 130px;
  }

  .stat * {
    font-size: $font-size-mobile-small;
  }

  .stat-circle {
    height: 40px;
    width: 40px;
  }

  .stat-name {
    margin: 5px 0 5px 5px;
  }

  // Bottom Container => Pokemon Details
  .bottom-container {
    padding: 10px;
    margin-top: 10px;
  }

  .bottom-container * {
    font-size: $font-size-mobile-small;
  }

  .height-weight-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .bottom-stat {
    text-align: center;
    margin: 10px 12px 0 12px;
  }

  .ability-container {
    margin-top: 10px;
  }

  .ability {
    margin: 0 0 0 15px;
  }

  .mat-dialog-container {
    padding: 5px !important;
  }
}
